# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Update readme 

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs: 
  build:
    runs-on: ubuntu-latest 
    steps:
    - uses: actions/checkout@v3 
    - name: Set up Python 3.10 
      uses: actions/setup-python@v3 
      with:
        python-version: "3.10" 
    - name: Install dependencies 
      run: |
        python -m pip install --upgrade pip
        pip install python-leetcode 
    - name: Run update.py 
      run: |
        python update.py
    - name: Commit changes 
      run: |
        git config --global user.name 'ziho' 
        git config --global user.email 'woosomath@naver.com' 
        git add -A
        git commit -am "auto update README.md" 
    - name: Push changes 
      run: |
        git push
